/* HEADER */

header .sony-logo {
    height: 14px;
    margin-bottom: 5px;
} 

header .navbar-nav li {
    color: #909090;
    font-weight: bold;
}

header .navbar-nav a i:not(.fa-magnifying-glass) {
    color: lightgrey;
}

/* MAIN */

.jumbotron {
    min-height: 580px;
}

.jumbotron *:not(:last-child) {
    margin-bottom: 40px;
}

.jumbotron img {
    max-width: 60%;
}

.games .jumbotron, .returnal {
    color: white;
    background-size: cover;
}

.returnal {
    background-image: url(img/jumbo-bg.png);
}

.games .jumbotron div, 
.returnal.jumbotron div, 
.plus .jumbotron div, 
.now .jumbotron div {
    width: 100%;
    max-width: 460px;
}

.covers {
    padding: 20px 0;
}

.covers img {
    width: 100%;
    height: 100%;
    border: white solid 2px;
    border-radius: 10px;
}

.covers > div {
    padding: 10px 20px;
}

.covers .mask {
    border-radius: 10px;
    overflow: hidden;
}

.covers .mask:hover {
    transform: translateY(-10px);
}

.intro {
    margin-bottom: 50px;
}

.products h6 {
    color: #0070d1;
    font-weight: bold;
}

.products h2 {
    font-weight: bold;
}

.products img {
    width: 100%;
}

.slides > div{
    padding-bottom: 10px;
    opacity: 0.80;
}

.slides > div:hover {
    border-bottom: 2px solid #00439c;
    padding-bottom: 8px;
    opacity: 1;
}

.games {
    background-color: #1f1f1f;
    color: white;
}

.games .jumbotron {
    background-image: url(img/it-takes-two-hero-banner-desktop.jpg);
}

.releases img {
    margin-bottom: 10px;
    border-radius: 10px;
    width: 100%;
}

.releases > div.col-6 {
    margin-bottom: 30px;
}

.explore img {
    width: 100%;
    margin-bottom: 20px;
}

.plus {
    background: #bebcbb url(img/ps-plus-april-monthly-games-featured-image-block.png);
    background-repeat: no-repeat;
    background-position: right;
}

.now {
    background-color: #161c3b;
}

/* FOOTER */

footer {
    background-color: #00439c;
    color: white;
}

footer a {
    color: white;
}