* {
  /* DEBUG */
  /* border: 1px solid red; */

  font-family: Arial, Helvetica, sans-serif;
}

.col img {
  width: 100%;
}

.btn:hover {
  outline: white solid 2px;
}

.btn-blue {
  background-color: #0070d1;
  color: white;
}

.btn-blue:hover {
  color: white;
  box-shadow: 0 0 0 5px #2d64e6;
}

.btn-red {
  background-color: red;
  color: white;
}

.btn-red:hover {
  box-shadow: 0 0 0 5px red;
  color: white;
}

.btn-white {
  color: #0070d1;
  background-color: white;
}

.btn-white:hover {
  box-shadow: 0 0 0 5px white;
  outline: black solid 2px;
}

.btn:not(.rounded) {
  border-radius: 1.2rem;
  padding: auto 1.2rem;
  font-weight: bold;
}

.btn-outline-secondary {
  border-color: lightgray;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}